:root {
  --color-bg: #e6e5e2;
  --color-surface: #f4f3f0;
  --color-border: #302c56;
  --color-dark: #2b2420;
  --color-muted: #9a938a;
  --color-footer-bg: #ececea;
  --font-serif: 'Merriweather', Georgia, 'Times New Roman', serif;

  --color-btn-normal: hsla(12, 12%, 22%, 1);
  --color-btn-hover: hsla(12, 9%, 43%, 1);
  --color-btn-disabled-bg: hsla(12, 12%, 73%, 1);
  --color-btn-disabled-text: #e0d5d0;
  --color-btn-cart: hsla(12, 29%, 28%, 1);
}
